.Rproj.user
.Rhistory
.RData
.Ruserdata
Locaties.gsheet
*.httr-oauth
ANa[Conflict].R
*.gsheet
*.csv
*.docx
*.html
*.gdoc
*.httr-oauth
*.jpeg
.httr-oauth
./Intermediate/Backup/*
Input/Recorder_Data.TXT
Input/Recorder_Data.TXT.metadata.xml
Output/Recorder/Dump/Import_2018-10-04.ref
