.Rproj.user
.Rhistory
.RData
.Ruserdata
Locaties.gsheet
*.httr-oauth
ANa[Conflict].R
*.gsheet
*.docx
*.html
*.gdoc
*.httr-oauth
*.jpeg
.httr-oauth
./Intermediate/Backup/*
Input/Recorder_Data.TXT
Input/Recorder_Data.TXT.metadata.xml
Output/Recorder/Dump/Import_2018-10-04.ref
*.eps
.httr-oauth
Intermediate/Backup/Brondata_2020-06-02.csv
Intermediate/Backup/Brondata_2020-06-03.csv
Intermediate/Backup/Brondata_2020-07-08.csv
