.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
Locaties.gsheet
*.httr-oauth
ANa[Conflict].R
*.gsheet
*.csv
*.docx
*.rmd
*.html
*.gdoc
*.httr-oauth

*.jpeg
.httr-oauth
.httr-oauth
*.httr-oauth
.httr-oauth
